DEA_output/*
!DEA_output/GTEX*vs TCGA*
cohort_TCGA_TARGET_GTEx/*
!cohort_TCGA_TARGET_GTEx/delete_target_samples.sh
venv/
.DS_Store
__pycache__/
*.pyc
DEA_limma/.RData
DEA_limma/.Rhistory
DEA_limma/Rplots.pdf